body {
   padding-top: 40px;
   padding-bottom: 40px;
   background-color: #eee;
}

.form-signin {
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
}

.form-signin .form-control {
   position: relative;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   height: auto;
   padding: 10px;
   font-size: 16px;
}


.gamepage {
   max-width: 700px;
   position: relative;
   text-align: -webkit-center;
   padding-left: 20px;
}

.scoreboard {
   text-align: left;
}

.scoreboard_progress {
   padding-left: 10px;
}

table.myCards {
}

.card-button {
   width: 50px;
   height: 150px;
}

.card {
   padding: 10px;
   /*border: 1px solid black;*/
   height: 100px;
}

.card_played {
   height: 50px;
   margin-right: 10px;
}

.card_in_hand {
   width: 100px;
}

.crib_card {
   width: 75px;
}

.other_players_cards {
   width: 50px;
}

.card_drawn {
   height: 100px;
}

.middle_box {
   text-align: -webkit-center;
}

.player {
   text-align: -webkit-center;
   border: 1px solid black;
   padding: 10px;
   width: 100px;
   height: 100px;
}

.activePlayer {
   border: 3px solid green;
   background: lightgrey;
}
