<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Online Cribbage</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <!--<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>-->
      <script defer src="./js/game.js"></script>


      <!--Bootstrap-->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

      <link rel="stylesheet" type="text/css" href="./css/main.css">

   </head>
   <body>
      <div id="game" class="gamepage">
         <h1> Cribbage - {{ playerName }} - {{ team }} </h1>
         <hr>
         <div id=scoreboard" class="scoreboard">
            <table>
               <tr>
                  <td>
                     <button id="team1ScoreDecrease" v-on:click="updateScore"> - </button>
                     <button id="team1ScoreIncrease" v-on:click="updateScore"> + </button>
                     <b>Team 1:</b> <!--{{ team1Points }}-->
                   </td>
                   <td class="scoreboard_progress">
                      <div class="progress" style="width: 500px; margin-bottom: 0px">
                         <div class="progress-bar" role="progressbar" v-bind:style="{ width: getPercentage(team1Points) }" valuemin="0" max="129">{{ team1Points }}</div>
                      </div>
                   </td>
               </tr>
               <tr>
                  <td>
                     <button id="team2ScoreDecrease" v-on:click="updateScore"> - </button>
                     <button id="team2ScoreIncrease" v-on:click="updateScore"> + </button>
                     <b>Team 2:</b> 
                  </td>
                   <td class="scoreboard_progress">
                      <div class="progress" style="width: 500px; margin-bottom: 0px">
                         <div class="progress-bar" role="progressbar" v-bind:style="{ width: getPercentage(team2Points) }" valuemin="0" max="129">{{ team2Points }}</div>
                      </div>
                   </td>
               </tr>
            </table>
         </div>
         <hr>

         <table width="80%" height="100px">
            <tr>
               <td width="150px" style="vertical-align: middle">
                  <b>Point count:</b>  {{ pointCount }} 
               </td>
               <td>
               </td>
               <td width="150px" style="vertical-align: middle; text-align:center">
                  <u><b>Drawn card</b></u><br>
                  <div v-if="drawnCard != null">
                     <img class="card_drawn" v-bind:src="getCardUrl(drawnCard)"/>
                  </div>
               </td>
            </tr>
            <tr>
               <td></td>
               <td v-bind:class="[{activePlayer: isPlayerTurn[2]}]" class="player">
                  <div v-if="players.length == 4">
                        {{ players[2].dealer }}<br>
                     <b>{{ players[2].name }}</b><br>
                     <div v-if="phase=='counting'">
                        <table>
                           <tr>
                              <td v-for="card in players[2].playedCards">
                                 <img type="image" class="other_players_cards" v-bind:src="getCardUrl(card)"/>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </td>
               <td></td>
            </tr>
            <tr>
               <td v-bind:class="[{activePlayer: isPlayerTurn[1]}]" class="player">
                  <div v-if="players.length == 4">
                        {{ players[1].dealer }}<br>
                     <b>{{ players[1].name }}</b><br>
                     <div v-if="phase=='counting'">
                        <table>
                           <tr>
                              <td v-for="card in players[1].playedCards">
                                 <img type="image" class="other_players_cards" v-bind:src="getCardUrl(card)"/>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </td>
               <td class="middle_box">
                  <div v-if="myTurn">
                     It's your turn!
                  </div>
               </td>
               <td v-bind:class="[{activePlayer: isPlayerTurn[3]}]" class="player">
                  <div v-if="players.length == 4">
                        {{ players[3].dealer }}<br>
                     <b>{{ players[3].name }}</b><br>
                     <div v-if="phase=='counting'">
                        <table>
                           <tr>
                              <td v-for="card in players[3].playedCards">
                                 <img type="image" class="other_players_cards" v-bind:src="getCardUrl(card)"/>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </td>
            </tr>
            <tr>
               <td></td>
               <td v-bind:class="[{activePlayer: isPlayerTurn[0]}]" class="player">
                  <div v-if="players.length == 4">
                        {{ players[0].dealer }}<br>
                     <b>{{ players[0].name }}</b><br>
                     <div v-if="phase=='counting'">
                        <table>
                           <tr>
                              <td v-for="card in players[0].playedCards">
                                 <img type="image" class="other_players_cards" v-bind:src="getCardUrl(card)"/>
                              </td>
                           </tr>
                        </table>
                     </div>
                  </div>
               </td>
               <td></td>
            </tr>
         </table>

         <br>
         <div v-if="phase=='pointing'">
            <b><u>Cards played</u></b>
            <table>
               <tr>
                  <td class="card_played" v-for="card in playedCards">
                     <img type="image" class="card_played" v-bind:src="getCardUrl(card)"/>
                  </td>
               </tr>
            </table>
         </div>
         <div v-if="phase=='counting'">
            <b><u>Crib</u></b>
            <table>
               <tr>
                  <td v-for="card in crib">
                     <img type="image" class="crib_card" v-bind:src="getCardUrl(card)"/>
                  </td>
               </tr>
            </table>
         </div>

         <br>
         <b><u>Hand</u></b>
         <table id="myCardsTable" class="myCards" >
            <tr>
               <td class="card" v-for="card in myCards">
                  <input type="image" class="card_in_hand" v-on:click="selectCard" v-bind:value="card" v-bind:src="getCardUrl(card)"/>
                  <!--<input type="image" class="card_in_hand" -->
               </td>
               <!--<td class="card">-->
                  <!--<div>-->
                     <!--<input type="image" class="card_in_hand" src="res/AS.png" />-->

                  <!--</div>-->
               <!--</td>-->
               <td class="card" style="padding-left: 50px">
                  <div>
                     <button class="card-button" value="Go" v-on:click="selectCard"> Go </button>
                  </div>
               </td>
               <td class="card" v-if="nextRoundAvail && myTurn">
                  <div>
                     <button class="card-button" value="Next Round" v-on:click="selectCard"> Next Round </button>
                  </div>
               </td>
               <td class="card" v-if="allDone">
                  <div>
                     <button class="card-button" value="Next Hand" v-on:click="newHand"> Next Hand </button>
                  </div>
               </td>
            </tr>
         </table>
      </div>


   </body>
</html>
