<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Online Cribbage</title>
      <script src="https://unpkg.com/vue/dist/vue.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

      <!--<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>-->

      <script defer src="./js/game.js"></script>
      <link rel="stylesheet" type="text/css" href="./css/game.css">

   </head>
   <body>
      <div id="game">
         <h1> Cribbage - {{ playerName }} - {{ team }} </h1>
         <hr>
         <div id=scoreboard">
            <table>
               <tr>
                  <td>
                     <button id="team1ScoreDecrease" v-on:click="updateScore"> - </button>
                     <button id="team1ScoreIncrease" v-on:click="updateScore"> + </button>
                     <b>Team 1:</b> {{ team1Points }}
                   </td>
                   <td>
                      {{ team1ScoreTrack }}
                   </td>
               </tr>
               <tr>
                  <td>
                     <button id="team2ScoreDecrease" v-on:click="updateScore"> - </button>
                     <button id="team2ScoreIncrease" v-on:click="updateScore"> + </button>
                     <b>Team 2:</b> {{ team2Points }}
                  </td>
                   <td>
                      {{ team2ScoreTrack }}
                   </td>
               </tr>
            </table>
         </div>
         <hr>

         <table width="80%" height="100px">
            <tr>
               <td width="150px"><b>Drawn card:</b> <br>{{ drawnCard }}</td>
               <td></td>
               <td v-bind:class="[{activePlayer: isPlayerTurn[2]}]" class="player">
                  <div v-if="players.length == 4">
                        {{ players[2].dealer }}<br>
                     <b>{{ players[2].name }}</b><br>
                        {{ players[2].playedCards }} <br>
                  </div>
               </td>
               <td></td>
               <td><b>Point count:</b> <br> {{ pointCount }}</td>
            </tr>
            <tr>
               <td></td>
               <td v-bind:class="[{activePlayer: isPlayerTurn[1]}]" class="player">
                  <div v-if="players.length == 4">
                        {{ players[1].dealer }}<br>
                     <b>{{ players[1].name }}</b><br>
                        {{ players[1].playedCards }} <br>
                  </div>
               </td>
               <td>
                  <div v-if="myTurn">
                     It's your turn!
                  </div>
               </td>
               <td v-bind:class="[{activePlayer: isPlayerTurn[3]}]" class="player">
                  <div v-if="players.length == 4">
                        {{ players[3].dealer }}<br>
                     <b>{{ players[3].name }}</b><br>
                        {{ players[3].playedCards }} <br>
                  </div>
               </td>
            </tr>
            <tr>
               <td>
                  <div>
                     {{ crib }}
                  </div>
               </td>
               <td></td>
               <td v-bind:class="[{activePlayer: isPlayerTurn[0]}]" class="player">
                  <div v-if="players.length == 4">
                        {{ players[0].dealer }}<br>
                     <b>{{ players[0].name }}</b><br>
                        {{ players[0].playedCards }} <br>
                  </div>
               </td>
               <td></td>
            </tr>
         </table>

         <br>
         <hr>
         <table id="myCardsTable" class="myCards" >
            <tr>
               <td class="card" v-for="card in myCards">
                  <button class="card-button" v-on:click="selectCard"> {{ card }} </button>
               </td>
               <td class="card">
                  <div>
                     <button class="card-button" v-on:click="selectCard"> Pass </button>
                  </div>
               </td>
               <td class="card" v-if="nextRoundAvail && myTurn">
                  <div>
                     <button class="card-button" v-on:click="selectCard"> Next Round </button>
                  </div>
               </td>
               <td class="card" v-if="allDone">
                  <div>
                     <button class="card-button" v-on:click="newHand"> Next Hand </button>
                  </div>
               </td>
            </tr>
         </table>
      </div>


   </body>
</html>
