<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Online Cribbage</title>
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <!--<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>-->

   <script defer src="./js/main.js"></script>

</head>
<body>
   <div id="main">
      <h1> {{ title }} </h1>
      <hr>

      <!--Player name: <input v-model="playerName"> <br>-->
      Player Name: <input v-model="playerName">
      <br>
      Server ip: <input v-model="serverIP">
      <br>
      Select team: <br>
      <input type="radio" id="team1" value="team1" v-model="team">
      <label for="team1">Team 1</label>
      <br>
      <input type="radio" id="team2" value="team2" v-model="team">
      <label for="team2">Team 2</label>
      <br>

      <button v-on:click="startGame">Start Game</button>

   </div>

</body>
</html>
