<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Online Cribbage</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <script src="https://unpkg.com/vue/dist/vue.js"></script>

      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script defer src="./js/main.js"></script>


      <!--Bootstrap-->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

      <link rel="stylesheet" type="text/css" href="./css/main.css">

   </head>

   <body>
      <div id="main" class="container">

         <div class="form-signin">
            <h2 class="form-signin-heading">{{ title }}</h2>

            <label for="inputName" class="sr-only">Name</label>
            <input type="name" id="inputName" v-model="playerName" class="form-control" placeholder="Name" name="playerName" required autofocus>

            <label for="inputServerIp" class="sr-only">Password</label>
            <input type="serverIp" id="inputServerIp" v-model="serverIp" class="form-control" placeholder="Server IP" name="ip" required>

            <br>

            <!-- Default unchecked -->
            <div class="custom-control custom-radio" style="text-align:center">
               <input type="radio" v-model="team" class="custom-control-input" id="defaultUnchecked" name="team" value="team1" checked>
               <label class="custom-control-label" for="defaultUnchecked">Team 1</label>
               &nbsp &nbsp
               <input type="radio" v-model="team" class="custom-control-input" id="defaultChecked" name="team" value="team2">
               <label class="custom-control-label" for="defaultChecked">Team 2</label>
            </div>

            <br>

            <button class="btn btn-lg btn-primary btn-block" type="join" v-on:click="startGame">Join</button>


         </div>

      </div> <!-- /container -->

   </body>
</html>
